/* Color Pallette
Rosewood: 5E0B15
Red Violet: 90323D
Bone: D9CAB3
Bronze: BC8034
Cashew: 4A2C22 */
body{
	background-color:#D9CAB3;
}
#title{
	text-align:center;
	padding:0 4px;
	color:#5E0B15;
	font-family:Montserrat, sans-serif;
}

.container{
	width: 80%;
	margin:auto;
}

.bar{
	border:2px #BC8034 solid;
	margin-bottom:10px;
}

#desc-title{
	text-align:center;
	padding:0 8px;
	color:#5E0B15;
	font-weight:bold;
	font-family:Montserrat, sans-serif;
}

.center-p{
	text-align:center;
	font-family:Merriweather, serif;
}

.giant-img{

}

.container2{
	position:relative;
	width:100%
}

.container2 img{
	width:100%;
	height:auto;
}

.container2 .btn{
	position:absolute;
	top:50%;
	left:50%;
	 transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgba(188, 128, 52, 0.7);
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	padding: 24px 60px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
	font-family:Montserrat, sans-serif;
	font-style:bold;
	width: 25%;
	height: 14%;
}

.container2 .btn:hover {
  background-color:  rgba(217, 202, 179, 0.9);
  color: rgba(0, 0, 0, 1);
}